{% extends "base.html" %}
{% load product_tags %}

{% block title %}{{ gallery }}{% endblock %}
{% block meta_description %}{{ gallery.meta_description }}{% endblock %}
{% block meta_keywords %}{{ gallery.meta_description }}{% endblock %}

{% block extra_head %}
  <meta name="robots" content="index,follow">
{% endblock %}

{% block content %}
<div class="container">

<div class="page-header">

<ol class="breadcrumb">
  <li><a href="{% url 'gallery:gallery_list' %}">Galleries</a></li>
  <li>{{ gallery }}</li>
</ol>  

<p>{{gallery.description|safe}}</p>
</div>


{% if gallery.galleryimage_set.all %}
  {% for row in gallery.galleryimage_set.all|partition_horizontal:"4" %}
    <div class="row">
      {% for item in row %}
        <div class="col-md-3">
           <div class="panel panel-default">
              <div class="panel-body">
                <h4 class="text-center">{{item}}</h4>
                  <img class="img-responsive" src="/media/{{ item.image }}" title="{{ item }}" alt="{{ item }}" />
              </div>
          </div>
        </div>
     {% endfor %}
    </div>
    {% endfor %}
{% endif %}
</div>

{% endblock %}

