{% extends "base.html" %}
{% load product_tags %}
{% block title %}Gallery{% endblock %}

{% block extra_head %}
<meta name="robots" content="index,follow">
{% endblock %}

{% block content %}

<div class="container">

<div class="page-header">

<h1>Photo Galleries</h1>
<p>Not only do we enjoy growing plants, we also enjoy taking pictures of them and putting them on display. 
That is what these pages are for. As time goes on we'll keep adding more galleries. 
If you see any pictures of which you would like to have the HD version, just stop on by and we'll be happy to provide it for you.
</p>
</div>

{% if object_list %}  
  {% for row in object_list|partition_horizontal:"4" %}
    <div class="row">
      {% for item in row %}
        <div class="col-md-3">

           <div class="panel panel-default">
            <a href="{{ item.get_absolute_url }}" title="{{ item.name }}" target="_self">
              <div class="panel-body">
                <h4 class="text-center">{{item.name}}</h4>
                {% with item.galleryimage_set.all|first as im %}
                  <img class="img-responsive" src="/media/{{ im.image }}" title="{{ item.name }}" alt="{{ item.name }}" />
                {% endwith %}
              </div>
            </a>
          </div>

        </div>
     {% endfor %}
    </div>
    {% endfor %}
{% endif %}
</div>
{% endblock %}
