{% extends "base.html" %}
{% load product_tags %}
{% block title %}Home{% endblock %}

{% block extra_head %}
<meta name="robots" content="index,follow">
{% endblock %}

{% block content %}

<div class="container">
  <div class="row">

      <div class="col-md-3">
      {% if root_categories %}
        <h4>Categories</h4><hr />
        {% for item in root_categories %}
        <div class="row">
          <h4><a href="{{ item.get_absolute_url }}" title="{{ item.name }}" target="_self">{{item.name}}</a></h4>
        </div>
        {% endfor %}
      {% endif %} 
      </div>

      <div class="col-md-9">
        {% if featured_products %}
        <h4>Featured Products</h4><hr />
        {% for row in featured_products|partition_horizontal:"4" %}
          <div class="row">
            {% for product in row %}
              <div class="col-md-3">
                <div class="panel panel-default">
                  <a href="{{product.get_absolute_url}}">
                  <div class="panel-header">
                    <h4 class="text-center">{{product}}</h4>
                  </div>
                  <div class="panel-body">
                    {% with product.productimage_set.all|first as im %}
       	              <img class="img-responsive" src="/media/{{ im.image }}" title="{{ item }}" alt="{{ item }}" />
                    {% endwith %}
                  </div>
                  </a>
                </div><!-- ./panel -->
              </div><!-- ./col-md-3 -->
            {% endfor %}
          </div><!-- ./row -->
        {% endfor %}
        {% endif %}
      </div><!-- ./col-md-9-->
</div><!-- ./row -->
</div><!-- End Container -->

{% endblock content %}

