{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block extra_head %}
<meta name="robots" content="index,follow">
{% endblock %}

{% block content %}

<div class="container">
  <div class="row">

      <div class="col-md-8">
      {% if root_categories %}
        {% for item in root_categories %}
          <h3>{{item.name}}</h3>
          <p>{{item.short_content}}</p>
          <a href="{{ item.get_absolute_url }}" title="{{ item.name }}" target="_self">Continue Reading...</a>  
        {% endfor %}
      {% endif %} 
      </div>

      <div class="col-md-4">
      {% if featured_products %}
        {% for item in featured_products %}
          <h3>{{item.name}}</h3>
          <a href="{{ item.get_absolute_url }}" title="{{ item.name }}" target="_self">Continue Reading...</a>
        {% endfor %}
      {% endif %}
      </div>

    </div><!-- End Row -->
</div><!-- End Container -->

{% endblock content %}

