{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{{ category }}{% endblock %}
{% block meta_description %}{{ category.meta_description }}{% endblock %}
{% block meta_keywords %}{{ category.meta_description }}{% endblock %}

{% block extra_head %}
  <meta name="robots" content="index,follow">
{% endblock %}


{% block content %}
<div class="container">
  <div class="page-header">
    <h4>Return to: <a href="{% url 'product:category_list' %}">Product Index</a></h4>
  </div>
<div class="row">
<h3>SubCategories</h3>

{% for subcat in subcategories %}
  {% if forloop.first %}
    <p><a href="{{subcat.get_absolute_url}}">{{subcat}}</a>
  {% elif forloop.last %}
    <a href="{{subcat.get_absolute_url}}">{{subcat}}</a>
  {% else %}
    <a href="{{subcat.get_absolute_url}}">{{subcat}}</a>,
  {% endif %}
{% endfor %}</p>
</div>

<div class="row">
<h4>Products</h4>
{% for product in category_products %}
<div class="col-md-3">
  {% with product.productimage_set.all|first as im %}
    <img class="" src="{{ im.url }}" title="{{ product.name }}" alt="{{ product.name }}" />
  {% endwith %}
  <p><a href="{{product.get_absolute_url}}">{{product}}</a></p>
</div>

{% endfor %}
</div>

</div>
{% endblock %}

