{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{{ product }}{% endblock %}
{% block meta_description %}{{ product.meta_description }}{% endblock %}
{% block meta_keywords %}{{ product.meta_description }}{% endblock %}

{% block extra_head %}
  <meta name="robots" content="index,follow">
{% endblock %}


{% block content %}
<div class="container">
  <div class="page-header">
    <p>Return to: <a href="{{object.category.get_absolute_url}}">{{object.category}}</a></p>
  </div>
  <div class="row">

    <div class="col-md-6">
    {% if product.productimage_set.all %}
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->

      <ol class="carousel-indicators">
      {% for slide in product.productimage_set.all %}
        <li data-target="#myCarousel" data-slide-to="{{forloop.counter0}}"></li>
      {% endfor %}
      </ol>

      <div class="carousel-inner">
      {% for item in product.productimage_set.all %}
        <div class="item {% if forloop.first %}active{% endif %}">
          <img class="img-responsive" src="/media/{{item.image}}" alt="{{item.caption}}" />
          <div class="container">
            <div class="carousel-caption">
              <h1>{{item.headline}}</h1>
              <p>{{item.caption}}</p>
            </div>
          </div>
        </div>
      {% endfor %}
        
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->
    {% else %}
    <p>No Image Available</p>
    {% endif %}
    </div>
    <div class="col-md-6">
      <h3>{{product}}</h3>     
      <p>{{product.description|safe}}</p>
      <p>Price: ${{product.price}}</p>
    </div>
  </div>
</div>
{% endblock %}


