{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Joost Vandorp" >

    <title>{% block title %}{% endblock %}| Lucan Country Gardens</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'dist/css/bootstrap.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'dist/css/sticky-footer-navbar.css' %}" rel="stylesheet">
    <link href="{% static 'dist/css/carousel.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    {% block extra_head %}
    {% endblock extra_head %}
  </head>

  <body>

    <!-- Wrap all page content here -->
    <div id="wrap">

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'home_page' %}">Lucan Country Gardens</a>
        </div>

        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'gallery:gallery_list' %}">Galleries</a></li>
            <li><a href="{% url 'about:about_list' %}">About</a></li>
            <li><a href="{% url 'product:category_list' %}">Products</a></li>
            <li><a href="{% url 'contact:contact_page' %}">Contact</a></li>
          </ul>

          <form class="navbar-form navbar-right" role="search" method="get" action="/search/">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search" name="q" id="q">
            </div>
            <button type="submit" class="btn btn-default" value="search">Submit</button>
          </form>

        </div><!--/.nav-collapse -->

      </div>
    </div>



      <!-- Begin page content -->
      {% block content %}
      {% endblock content %}
    </div>

    <div id="footer">
      <div class="container">
        <p class="text-muted text-center"> Designed by: <a href="http://vandorjw.me">Joost van Dorp</a>
         ||
<!--[if lte IE 8]><span style="filter: FlipH; -ms-filter: "FlipH"; display: inline-block;"><![endif]-->
<span style="-moz-transform: scaleX(-1); -o-transform: scaleX(-1); -webkit-transform: scaleX(-1); transform: scaleX(-1); display: inline-block;">
&copy;
</span>
<!--[if lte IE 8]></span><![endif]-->
Lucan Country Gardens</p>
      </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{% static 'dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'docs-assets/js/holder.js' %}"></script>

  </body>
</html>

