{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block extra_head %}
<meta name="robots" content="index,follow">
{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">

    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->

      <ol class="carousel-indicators">
      {% for slide in jumbotron %}
        <li data-target="#myCarousel" data-slide-to="{{forloop.counter0}}"></li>
      {% endfor %}
      </ol>

      <div class="carousel-inner">
      {% for item in jumbotron %}
        <div class="item {% if forloop.first %}active{% endif %}">
          <img class="img-responsive" src="media/{{item.image}}" alt="{{item.caption}}" />
          <div class="container">
            <div class="carousel-caption">
              <h1>{{item.headline}}</h1>
              <p>{{item.caption}}</p>
            </div>
          </div>
        </div>
      {% endfor %}
        
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->

    </div><!-- /.col-md-8 offset-2 -->
  </div><!-- /.row -->


  <div class="row">
      <div class="col-md-4">
      {% if root_categories %}
        <h2><a href="{% url 'product:category_list' %}">Categories</a></h2>
        {% for item in root_categories %}
          <h3>{{item.name}}</h3>
          <p>{{item.short_content}}</p>
          <a href="{{ item.get_absolute_url }}" title="{{ item.name }}" target="_self">Continue Reading...</a> 
        {% endfor %}
      {% endif %} 
      </div>

      <div class="col-md-4">
      {% if about_pages %}
        <h2><a href="{% url 'about:about_list' %}">About</a></h2>
        {% for item in about_pages %}
          <h3>{{item.name}}</h3>
          <p>{{item.short_content}}</p>
          <a href="{{ item.get_absolute_url }}" title="{{ item.name }}" target="_self">Continue Reading...</a> 
        {% endfor %}
      {% endif %} 
      </div>

      <div class="col-md-4">
      {% if galleries %}
        <h2><a href="{% url 'gallery:gallery_list' %}">Galleries</a></h2>
        {% for item in galleries %}
          <h3>{{item.name}}</h3>
          <p>{{item.short_content}}</p>
          <a href="{{ item.get_absolute_url }}" title="{{ item.name }}" target="_self">Continue Reading...</a> 
        {% endfor %}
      {% endif %} 
      </div>

    </div><!-- End Row -->
</div><!-- End Container -->

{% endblock content %}

