{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% load product_tags %}
{% block extra_head %}
<meta name="robots" content="index,follow">
{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">

    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->

      <ol class="carousel-indicators">
      {% for slide in jumbotron %}
        <li data-target="#myCarousel" data-slide-to="{{forloop.counter0}}"></li>
      {% endfor %}
      </ol>

      <div class="carousel-inner">
      {% for item in jumbotron %}
        <div class="item {% if forloop.first %}active{% endif %}">
          <img class="img-responsive" src="media/{{item.image}}" alt="{{item.caption}}" />
          <div class="container">
            <div class="carousel-caption">
              <h1>{{item.headline}}</h1>
              <p>{{item.caption}}</p>
            </div>
          </div>
        </div>
      {% endfor %}
        
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->

    </div><!-- /.col-md-8 offset-2 -->
  </div><!-- /.row -->

  <div class="row">
    <h4>Welcome to Lucan Country Gardens</h4>
    <p>We are located on Highway 4, between the city of London, and the town of Exeter. Please see our contact page for more details and a map on how to find us. We carry a large range of products that we wish to share with you. Here are some quick links to get you started:</p>
  </div>

  {% if root_categories %}
  <div class="row">
    <h4>Categories</h4>
  </div>

    {% for row in root_categories|partition_horizontal:"4" %}
      <div class="row">
        {% for item in row %}
          <div class="col-md-3">

           <div class="panel panel-default">
            <a href="{{ item.get_absolute_url }}" title="{{ item.name }}" target="_self">
              <div class="panel-body">
                <h4 class="text-center">{{item.name}}</h4>
                <img class="img-responsive" src="/media/{{item.image}}" alt="category-image" />
              </div>
            </a> 
          </div>

          </div>
        {% endfor %}
      </div>
    {% endfor %}
  {% endif %} 


  {% if featured_products %}
  <div class="row">
    <h4>Featured Products</h4>
  </div>
    {% for row in featured_products|partition_horizontal:"4" %}
      <div class="row">
        {% for item in row %}
          <div class="col-md-3">

           <div class="panel panel-default">
            <a href="{{ item.get_absolute_url }}" title="{{ item.name }}" target="_self">
              <div class="panel-body">
                <h4 class="text-center">{{item.name}}</h4>
                {% with item.productimage_set.all|first as im %}
                <img class="img-responsive" src="/media/{{im.image}}" alt="category-image" />
                {% endwith %}
              </div>
            </a> 
          </div>

          </div>
        {% endfor %}
      </div>
    {% endfor %}
  {% endif %} 

</div><!-- End Container -->

{% endblock content %}

